{% extends "./base.html" %}

{% block metatags %}
<title>About | Dell Object Container Storage Interface (COSI) Sample Application</title>
<meta name="description" content="Explain Dell Object COSI Driver.">
{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </div>

    <h1>About Dell Object Container Storage Interface (COSI) Sample Application</h1>
    
</div>
{% endblock %}